#todolistNav {
    animation: slideIn 0.5s;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, blue, white);
    padding-top: 40px;
    gap: 50px;
    text-transform: uppercase;
}

@keyframes slideIn {
    from {
        transform: translateX(-200px);
    }

    to {
        transform: none;
    }
}

#todolistNav form input {
    width: 80%;
    margin-top: 30px;
    border: none;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
}

#todolistNav form button {
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: sans-serif;
}

#closeSquare {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
}